@use './partials/variables.scss' as *;

@import 'bootstrap/scss/bootstrap.scss';

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss'; 
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box
}
body{
    font-family: 'Montserrat', sans-serif;
}
.my-container{
    max-width: 90%;
    margin:0 auto;
}

ul,li{
    margin:0
}
.my-btn-large{
    background-color: $blue;
    padding: 15px 35px;
    color:white;
    border-radius: 50px;
    border: 0;
    span{
        font-weight: 600;
    }
}